@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: hsl(212.7,26.8%,83.9);
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.bft-edit-form-close {
  position: absolute;
  left: 10px;
  top: 5px !important;
  width: 45px !important;
  height: 45px !important;
  cursor: pointer;
  transform: rotate(180deg);
  border-radius: 100%;
  stroke-width: 3px;
  stroke: white;
  padding: 6px;
  
}

.female .bft-edit-form-header {
  background: linear-gradient(90deg, #f14e84 0%, #da3aad 100%) !important;
}

.male .bft-edit-form-header {
  background: linear-gradient(90deg, #67c9b4 0%, #54c9e9 100%) !important;
}

.bft-edit-form-header {
  background: linear-gradient(90deg, #FF46A3 0%, #00A7D4 100%);
}

.bft-edit-form-title {
  color: #fafafa !important;
  padding-top: 14px !important;
  padding-left: 15% !important;
  padding-right: 15% !important;
  width: 100% !important;
  font-size: 25px !important;
  font-family: 'EB Garamond' !important;
  font-weight: 500;
}

.bft-edit-form-instruments {
  min-height: 0px !important;
}

.bft-light{
  background-color: #fbfbfb  !important;
}

.node text{
  font-family: 'EB Garamond' !important;
}

.bft-input input{
  font-family: 'EB Garamond' !important;
}

.hasval{
  font-family: 'EB Garamond' !important;
}

.bft-form-fieldset{
  font-family: 'EB Garamond' !important;
}



